<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.learning.pojo.Address">
        <property name="address" value="上海"/>
    </bean>

    <bean id="student" class="com.learning.pojo.Student">
        <!--值注入，value-->
        <property name="name" value="王二"/>

        <!--Bean注入,ref-->
        <property name="address" ref="address"/>

        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼</value>
                <value>西游</value>
                <value>水浒</value>
                <value>三国</value>
            </array>
        </property>

        <!--List-->
        <property name="bobbies">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>敲代码</value>
            </list>
        </property>

        <!--Map-->
        <property name="card">
            <map>
                <entry key="身份证" value="310115199608224210"/>
                <entry key="银行卡" value="12345678901234567890"/>
            </map>
        </property>

        <!--Set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>

        <!--null-->
        <property name="wife">
            <null/>
        </property>

        <!--Properties-->
        <property name="info">
            <props>
                <prop key="学号">13107558</prop>
                <prop key="性别">男</prop>
                <prop key="username">root</prop>
                <prop key="password">1234</prop>
            </props>
        </property>

    </bean>



</beans>