<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注册bean-->
    <bean id="userService" class="com.learning.service.UserServiceImpl"/>
    <bean id="beforeLog" class="com.learning.log.BeforeLog"/>
    <bean id="afterLog" class="com.learning.log.AfterLog"/>

    <!--方式一: 使用原生的Spring API接口-->
    <!--配置aop: 需要先导入aop的约束-->
    <aop:config>
        <!--切入点: -->
        <aop:pointcut id="pointcut" expression="execution(* com.learning.service.UserServiceImpl.*(..))"/>

        <!--执行环绕增强-->
        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>

    <!--方式二: 自定义类，使用切面-->



</beans>